<!-- crear_compra.html -->
<form method="POST" action="{% url 'crear_compra' %}">
  {% csrf_token %}
  <input type="hidden" name="id_prod" value="{{ producto.id_prod }}">
  {{ form.as_p }}
  {% if form.errors %}
    <ul class="errorlist">
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if form.cleaned_data.opcion_entrega == 'retiro' %}
    <label for="id_sucursal">Seleccionar sucursal:</label>
    <select name="id_sucursal" id="id_sucursal">
      {% for sucursal in sucursales %}
        <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
      {% endfor %}
    </select>
  {% endif %}

  <button type="submit">Crear Compra</button>
</form>
